# Build Cache
.xmake/
build/

# build libs
lib/
tensorrt_yolo/libs/

# VSCode Cache
.vscode

# Python Cache
__pycache__/
venv/

# python package
dist/
tensorrt_yolo.egg-info/
tensorrt_yolo/c_lib_wrap.py

# output Cache
output/

# example images
examples/**/*.jpg
examples/**/*.jpeg
examples/**/*.png
examples/**/*.gif
examples/**/*.bmp
examples/**/*.tiff
examples/**/*.webp

# example models
examples/**/*.pt
examples/**/*.onnx
examples/**/*.engine
